@media screen and (max-width: 900px){
	#main #izquierda {
		display: none;
	}
	
	#main #derecha {
		width: 20%;
	}
	
	#main .articulos{
		width: 80%;
	}
	
	#main #derecha .reviews h2{
		font-size: 95%;
	}
	
	#cabecera #menu ul li a, #pie nav ul li a, #pie .FU .follow h4, #main .articulos #contenido div p, #main .articulos #contenido #introduccion{
		font-size: 90%;
	}
	
	#main .articulos #contenido #title{
		font-size: 175%;
	}
	
	#pie nav ul {
		width: 66%;
	}
}

@media screen and (max-width: 700px){
	#main #izquierda {
		display: none;
	}
	
	#main #derecha {
		display: none;
	}
	
	#main .articulos{
		width: 100%;
	}
	
	#main #derecha .reviews h2{
		font-size: 95%;
	}
	
	#cabecera #menu ul li a, #pie nav ul li a, #pie .FU .follow h4, #main .articulos #contenido div p, #main .articulos #contenido #introduccion{
		font-size: 90%;
	}
	
	#main .articulos #contenido #title{
		font-size: 150%;
	}
	
	#pie .FU{
		display: none;
	}
	
	#pie nav ul {
		width: 77%;
		margin-bottom: 20px;
	}
	
	#cabecera #menu ul {
		width: 77%;	
	}
	
	#main .articulos #contenido div img {
		margin: 4px 7px;
	}
	
	#pie{
		margin-bottom: 20px;
	}
	
	#pie nav ul {
		width: 88%;
	}
}

@media screen and (max-width: 450px){
	#cabecera, .contenedor {
		margin: 0;
		width:100%;
	}
	
	#cabecera #menu{
		width: 75%;
		height: 100%;
		margin 0;
		left: -100%;
		position: fixed;
		z-index: 9998;
	}
	
	#cabecera img{
		display: none;
	}
	
	#cabecera #menu ul{
		width: 100%
	}
	
	#cabecera #menu ul li{
		width: 100%;
		display: block;
		float: none;
		border-bottom: 1px solid #FFFFFF;
		
	}
	#cabecera #menu ul li a{
		padding: 7% 5%;
	}
	
	#cabecera .menu_bar{
		display: block;
		width: 100%;
		height: 66px;
		background-color: #3a0505;
		overflow:hidden;
	}
	
	#cabecera .menu_bar a{
		margin: 18px 15px;
		display: block;
	}
	
	#main .articulos #contenido #title{
		font-size: 122%;
	}
	
	#main .articulos #contenido div p{
		font-size: 70%;
		padding: 0 5px 0 0;
	}
	
	#main .articulos #contenido div img {
		margin: 10px 9px;
	}
	
	#main .articulos #contenido #introduccion {
		padding: 0 44px;
		margin: 10px 0 22px;
		font-size: 90%;
	}
	
	#pie {
		margin-bottom: 20px;
	}
	
	#pie nav ul {
		width: 95%;
	}
}