.listitem img
{

    width: 130px; height:110px;
  }

  table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;    margin: 0px;     width: 300px; text-align: center;; color: white;    border-collapse: collapse; }
  
    table {
        background-color: #161616;
        width: 100%;
        height: 300px;
    }

