#comment-section div #list{
    list-style-type: none;
}

#derecha {
    float: right;
    width: 20%;
    color: 	#f5f2e9;
}

#contenido {
    overflow: hidden;
    color: 	#f5f2e9;
    width: 80%;
    padding-right: 1%;
    box-sizing: border-box;
}

#contenido #article-title{
	text-align: center;
}

.reviews{
    margin: 0 15px 30px 15px;
	padding-bottom: 7px;
	background-color: #363636;
	height: auto;
}

#contenido p{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

#contenido img{
	width: 100%;
	height: auto;
}

#contenido ul{
	width: 95%;
	margin-left: auto;
}

.comment-date{
    /*color: #6e0f00;*/
	color: yellow;
	margin-bottom: 1em;
}

.comment-content{
    color: #f5f2e9;
    margin-bottom: 2em;
}

#comment-form{
    margin: auto;
    color: #f5f2e9;
}

#comment-form #comment-text{
	margin-top: 10px;
	margin-bottom: 15px;
    padding: 7px;
}

#submit-button{
	margin-bottom: 10px;
    width: 88px;
    padding: 7px;
    box-sizing: border-box;
	margin-top: 7px;
	background: #1668C4;
	color: #fff;
	border: none;
}

#submit-button:hover{
	background: #4A88F4;
	cursor: pointer;
}

@media screen and (max-width: 700px){
	#contenido{
		width: 100%;
	}		
}

@media screen and (max-width: 450px){
	#main{
		padding: 30px 4% 0;
	}		
}