body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 90%;
}

.zonaform{
	width:53%;
	height:auto; 
	font-size:20px;
	float:left;
	margin:20px 2%; 
	color: white;
	border: 1px solid #ccc;
	padding-left: 15px;
	box-sizing:border-box;
}

.infocontacto{
	width:35%;
	float:left;
	margin:40px 3% 20px;
	color: white;
}

.contorno{
	width: 88%;
	max-width: 1024px;
	margin: 0 auto;
	height:auto;
	overflow:hidden;
}

textarea{
	margin-top: 20px;
	padding: 7px;
}

.contorno .infocontacto p{
	text-align: justify;
}

.contorno .zonaform h2{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 7px;
	font-size: 122%;
}

.contorno .infocontacto h2{
	text-align: center;
	margin-bottom: 10px;
	padding-top: 7px;
	font-size: 144%;
}

@media screen and (max-width: 700px){
	.infocontacto, .zonaform{
			clear:both;
			width: 80%;
			margin: 30px 10%;
	}
}