/*=========================================================
	Manejo del formato general de la página
===========================================================*/

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #161616;
	font-family: verdana, sans-serif;
	font-size: 90%;
}

#cabecera, #pie{
	margin: 15px auto;
}

/*=========================================================
	Manejo de la estructura o layout
===========================================================*/

#main {
	overflow: hidden;
}

#main .articulos {
	float: left;
	width: 60%;
	height: auto;
	background-color: #4b1e1e;
}

#izquierda {
	float: left;
	width: 20%;
	height: auto;
}

#derecha {
	float: left;
	width: 20%;
	height: auto;
}

.contenedor{
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

/*=========================================================
	Manejo con la cabecera
===========================================================*/

#cabecera img {
	width: 40%;
	float: left;
	margin-bottom: 10px;
}

#cabecera .menu_bar{
	display: none;
}

/*=========================================================
	Manejo con el menu
===========================================================*/

#cabecera #menu {
	clear: both;
	background-color:  #3a0505;
	overflow: hidden;
}

#cabecera #menu ul {
	float: right;
	list-style: none;
	width: 50%;
}

#menu ul li {
	float: left;
	width: 25%;
}

#menu ul li a {
	display: block;
	padding: 13% 2%;
	height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

#menu ul li a:hover {
	color: #000;
	background: #fff;	
}

#cabecera .menu_bar a{
	text-decoration: none;
	text-align: center;
	font-size: 150%;
	color: white;
	font-weight: bold;
}

/*=========================================================
	Manejo con la información de los contenidos
===========================================================*/

#main #izquierda, #main #derecha {
	display: block;
}

#main #izquierda .noticias{
	margin: 0 15px 22px 15px;
	padding: 0 7px 7px;
	background-color: #363636;
}

#main #izquierda .noticias h2 {
	text-align: justify;
	color: white;
	margin-bottom: 10px;
	padding-top: 7px;
	font-size: 88%;
}

#main #izquierda .noticias p{
	text-align: justify;
	font-size: 88%;
	color: #b8b8b8;
	margin-bottom: 10px;
}

#main #izquierda .noticias a{
	text-decoration: none;
	color: white;
}

#main #derecha .reviews{
	margin: 0 6% 10% 6%;
	padding-bottom: 5%;
	background-color: #363636;
	height: auto;
	box-sizing: border-box;
}

#main #derecha .reviews h2 {
	text-align: center;
	color: white;
	margin-bottom: 10px;
	padding-top: 10px;
	font-size: 122%;
}

#main #derecha .reviews img{
	margin: 2% 5%;
	width: 90%;
	height: auto;
}

#main #derecha #bienvenido {
 	display: none;
	text-align: center;
	color: white;
	margin: 0 6% 3% 6%;
	font-size: 111%;
}

#main #derecha #map {
	display: none;
	height: 200px;
	margin: 0 5% 7% 5%;
}

#main .articulos #contenido{
	margin-bottom: 15px;
}

#main .articulos #contenido video {
	width: 75%;
	height: auto;
	margin: 33px 12.5% 10px;
}

#main .articulos #contenido #title {
	text-align: center;
	font-size: 220%;
	padding: 0;
	margin: 17px 0 30px;
	color: white;
}

#main .articulos #contenido #introduccion {
	text-align: justify;
	padding: 0 77px;
	margin: 10px 0 22px;
	font-size: 105%;
	color: #b8b8b8;
}

#main .articulos #contenido div{
	overflow: hidden;
	margin-bottom: 15px;
}

#main .articulos #contenido div h3 {
	font-size: 88%;
	margin: 5px 0 10px;
	padding-left: 35%;
	color: #fff;
	clear: both;
}

#main .articulos #contenido div img {
	float: left;
	margin: 2px 15px 5px 10px;
	width: 30%;
	height: auto;
}

#main .articulos #contenido div p {
	text-align: justify;
	padding: 0 15px 0 0;
	margin-bottom: 3px;
	color: #b8b8b8;
	float: left;
	width: 60%;
}

/*=========================================================
	Manejo con el pie de pagina
===========================================================*/

#pie{
	clear: both;
	margin-bottom: 0;
}

#pie nav {
	background-color: #020202;
}

#pie nav ul {
	overflow: hidden;
	list-style: none;
	width: 55%;
	margin: 0 auto;
}

#pie nav ul li{
	float: left;
	width: 20%;
	margin: 0 auto;
}

#pie nav ul li a {
	padding: 13% 2%;
	height: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

#pie nav ul li a:hover {
	background-color: #b2bfaa;
	color: #000;
}

#pie .FU{
	margin: 7px auto;
	width: 33%;
	overflow: hidden;
	list-style: none;
	box-sizing:border-box;
}

#pie .FU .follow{
	width: 40%;
	height: auto;
	float: left;
	color: white;
	padding: 2% 0;
}

#pie .FU .follow h4{
	text-align: center;	
}

#pie .FU .RS{
	width: 20%;
	float: left;
}

#pie .FU .RS a{
	padding: 0 22%;
}

#pie .FU .RS a img{
	width: 44%;
	height: auto;
}