label{
	font-size: 17px;
	display: block;
	width: 100%;
}

input{
    background-color: #161616;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    margin-top: 2px;
    margin-bottom:10px;
    width: 95%;
    padding: 7px;
    box-sizing:border-box;
}

input:focus, textarea:focus{
	border: 1px solid #1668C4;
}

textarea{
    background-color: #161616;
    color: #ffffff;
    border: 1px solid;
    border-color: #ffffff;
    width: 90%;
    resize: vertical;
    min-height: 200px;
    max-height: 400px;
}

input[type="submit"]{
	margin-top: 7px;
	background: #1668C4;
	color: #fff;
	border: none;
}

input[type="submit"]:hover{
	background: #4A88F4;
	cursor: pointer;
}